@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght,MONO@0,300..800,1;1,300..800,1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;

}

.body{
    margin: 0;
}

.logo{
    height: 24px;
    width: 120px;
    padding-left: 48px;
    padding-top: 10px ;
}   
.navbar{
    display: flex ;
    justify-content: space-between ;
    align-items:center ;
    height: 56px;
    color: rgb(23, 26, 32);
    font-size: 14px;
    background-color: white;
}
.nav-links{
 
}
.nav-button{
    color: rgb(23, 26, 32);
    text-decoration: none;
    padding: 4px 16px;
}

.nav-icon{
    padding: 32px;
    margin-top: 4px;
    margin-right: 5px;
}
#help-icon, #region-icon, #account-icon{
    height: 16px;
    width: 16px;
    margin-left: 9px;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.hero-section{
    height: 79.55vh;
    background: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Promo-Meet-Model-Y-Desktop.jpg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.model-s{
    width: 112.40vh;
    height: 30vh;
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Card-Model-3-Desktop-US_PR_MX.jpg');
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
        
}

.model-y{
    width: 112.40vh;
    height: 30vh;
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Vehicle-Card-Model-Y-Desktop-US-Snow.jpg');
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.model-3{
    width: 112.40vh;
    height: 30vh;
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Card-Model-S-Desktop-US-v3.jpg');
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.model-x{
    width: 112.40vh;
    height: 30vh;
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Card-Model-X-Desktop-US_PR_MX.jpg');
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.buttons{
    height: auto;
}

.lght-button{
    
}
    
.vehicles{
    
    padding-top: 30px;
    margin: 30px;
    height: 20vh;
    display: flex ;
    gap: 10px;
    padding-bottom: 30px;
}

footer{
    display: flex ;
    justify-content: center ;
    align-items:space-between ;
    width: 100%;
    gap: 20px;    
}

.footer-links{
    display: flex ;
    text-decoration: none;
    color: rgb(23, 26, 32);
    font-size: 12px;
}


    



