@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght,MONO@0,300..800,1;1,300..800,1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

body{
        margin: 0;
        padding-top: 56px;
}

.logo{
    height: 24px;
    width: 120px;
    padding-left: 48px;
    padding-top: 10px ;
}   
.navbar{
    display: flex ;
    justify-content: space-between ;
    align-items:center ;
    height: 56px;
    color: rgb(23, 26, 32);
    font-size: 14px;
    background-color: white;
}

.nav-links{
 
}
.nav-button{
    color: rgb(23, 26, 32);
    text-decoration: none;
    padding: 4px 16px;
    font-size: 14px;
}

.nav-icon{
    padding: 32px;
    margin-top: 4px;
    margin-right: 5px;
}
#help-icon, #region-icon, #account-icon{
    height: 16px;
    width: 16px;
    margin-left: 9px;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
h1{
    font-size: 48px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    margin-top: 45px;
}
h2{
    font-size: 34px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}
h3{
    font-size: 20px;
    font-weight: 500;
    color: rgb(92, 94, 98);  
}
h4{
    font-size: 20px;
    font-weight: 500;
    color: rgb(255, 255, 255); 
}
h5{
    font-size: 17px;
    color: rgb(255, 255, 255);
}
a{
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
}
.hero-section{
    width: 100vw;
    height: calc(79.55vh - 56px);
    background: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Promo-Meet-Model-Y-Desktop.jpg') center/cover no-repeat;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
.buttons-hero{
margin-top: 20px;
}
.drk-button{
    border: none;
    color: rgb(57, 60, 65);
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 40px;
    padding: 4px;  
    border-radius: 4px;
    border: 3px;
    margin-left: 4px;
    cursor: pointer;
}
.lght-button{
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(62, 106, 225);
    width: 200px;
    height: 40px;
    padding: 4px;  
    border: 3px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}
.long-button{
    border: none;
    color: rgb(57, 60, 65);
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 40px;
    padding: 4px;  
    border-radius: 4px;
    border: 3px;
    margin-left: 4px;
    cursor: pointer;   
}
.vehicles{
    display: flex;
    gap: 10px;
    padding: 30px;
    flex-wrap: wrap; 
    height: auto;  
}

.model-s{
    flex: 1;
    min-width: 250px;
    height: 30vh;
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Card-Model-3-Desktop-US_PR_MX.jpg');
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.model-y{
    flex: 1;
    min-width: 250px;
    height: 30vh;
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Vehicle-Card-Model-Y-Desktop-US-Snow.jpg');
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.model-3{
    flex: 1;
    min-width: 250px;
    height: 30vh;
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Card-Model-S-Desktop-US-v3.jpg');
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.model-x{
    flex: 1;
    min-width: 250px;
    height: 30vh;
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Card-Model-X-Desktop-US_PR_MX.jpg');
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.buttons{
    height: auto;
}
.cards{
    padding-top: 50px;
    padding-left: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.card-offers{
    width: 50%;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start ;
    align-content: space-between ;
    background-color: rgb(233, 233, 233);
    padding-right: 10px;
  
}
.card-offers-left{
    padding-left: 40px;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    padding-right: 10px;
}
.card-heroes{
    width: 50%;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start ;
    align-content: space-between ;
    background-color: rgb(233, 233, 233);
    margin-right: 60px;
    padding-left: 10px;
}
  .card-heroes-left{
    padding-left: 40px;
    display: flex ;
    flex-direction: column;
    justify-content: center;  
    padding-right: 10px;  
}  
.benefits{
 
    display: flex;
    gap: 10px;
    padding: 30px;
    flex-wrap: wrap; 
    height: auto;  
}

.self-driving{
    flex: 1;
    width: 500px;
    height: 50vh;
    background-image: url(./Assets/Homepage-FSD-Safety-Report-Split-Desktop.avif);
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-right: 600px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.features{
    flex: 1;
    min-width: 250px;
    height: 50vh;
    background-image: url(./Assets/Homepage-Features-Desktop.avif);
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-left: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.locations{

}

.location-image{

}

.tesla-equipment{
    display: flex;
    gap: 10px;
    padding: 30px;
    flex-wrap: wrap; 
    height: auto;  
}

.solar-panels{
    flex: 1;
    min-width: 250px;
    height: 30vh;
    background-image: url(./Assets/Homepage-Card-Solar-Panels-Desktop-v2.avif);
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.powerwall{
    flex: 1;
    min-width: 250px;
    height: 30vh;
    background-image: url(./Assets/Homepage-Card-Powerwall-Desktop.avif);
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mega-pack{
    flex: 1;
    min-width: 250px;
    height: 30vh;
    background-image: url(./Assets/Homepage-Card-Megapack-Desktop-v2.avif);
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.solar-roof{
    flex: 1;
    min-width: 250px;
    height: 30vh;
    background-image: url(./Assets/Homepage-Card-Solar-Roof-Desktop-v2.avif);
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


footer{
    display: flex ;
    justify-content: center ;
    align-items:space-between ;
    width: 100%;
    gap: 20px;    
}

.footer-links{
    display: flex ;
    text-decoration: none;
    color: rgb(23, 26, 32);
    font-size: 12px;
}